*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    float: left;
    width: 100%;
    height: 700px;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: bold;
 
}

.home-text{
    clear: both;
    text-align: center;
    background-color: #021138;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    
}

.home-text p{
    padding: 100px;
    height: 150px;
   

}


.fundo-nav{
    background-color: #021138;
    background-image: url(../imagens/Fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    


}

.titulo-nav{
    clear: both;
    color: aliceblue;
    font-size: 60px;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    top: 290px;
    left:900px;
    letter-spacing: 0px;
    width: 445px;
    font-family:'Roboto Condensed';

}

.fundo-eventos{
    background-color: #021138;
    background-image: url(../imagens/Fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:700px;
    font-family:'Roboto Condensed';
}

.eventos-ima{
    clear: both;
    color: aliceblue;
    font-size: 60px;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    top: 400px;
    left:35px;
    letter-spacing: 0px;
    width: 560px;
}



.subt{
    background-color: #021138;
}

ul{
    list-style-type: none;
    margin:10px;
    padding: 0;
    float:left;
    /*position: fixed;*/
}

ul li{
    float: left;
}

ul li.nav a{
    display: block;
    margin: 20px 2em;
    line-height: 2em;
    text-decoration: none;
    color:antiquewhite;
}


ul li.logo img{
    width: 200px;
}

ul li.logo{
    margin: 0px 100px 0px 40px;
}

li.nav a:hover{
    background-position: right bottom ;
    border-bottom: 2px  solid white;
    
}

ul li.inst-fcb{
    margin: 30px 10px;
}

.inst-fcb img{
    height:20px;
}

.yout img{
    height: 30px; 
}

ul li.yout {
    margin: 25px 10px 40px;
}

#insta{
    margin-left: 80px;
}

footer{
    width: 100%;
    background-color: #021138;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logo_b{
    width: 180px;
    height: auto;
}

.icon_local{
    width: 50px;
}

.icon_tel{
    width: 35px;
}

.icon_email{
    width: 35px;
}

.localizacao{
    align-items: center;
    justify-content: center;
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;


}

.contato{
    align-items: center;
    justify-content: center;
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
}

.div_logo, .localizacao,.contato{
    padding: 25px;
    margin-left: 3%;
}

.titulo{
    font-size: xx-large;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight:bolder;
    line-height: normal;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

@media screen and (max-width:750px){
    footer{
        display: flex;
        flex-direction: column;
    }
    .titulo{
        padding-top: 0%;
    }
}

