

*{
    margin: 0;
    padding: 0;
}

/*nav-bar*/
#nav-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: bold;
    top: 0;
    left: 0;
}


.home-text{
    clear: both;
    text-align: center;
    background-color: #021138;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;

}

.home-text2{
    text-align: center;
    background-color: #D9D9D9;
    font-family:'Montserrat';
    font-size: 16px;     
}

.home-text2 p{
    padding: 20%;
    height: 150px;
    color: orange;
}

.home-text2 p span{
    text-align: center;
    display:block;
    margin: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
}

.home-text p{
    padding: 6%;
    height: 150px;
   
}


.fundo-nav{
    background-color: #021138;
    background-image: url(../imagens/Fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.titulo-nav{
    clear: both;
    color: aliceblue;
    font-size: 380%;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    top: 290px;
    left: 65%;
    letter-spacing: -5px;
    width: 30%;
    font-family:'Roboto Condensed';
    z-index: 0;

}

.fundo-eventos{
    background-color: #021138;
    background-image: url(../imagens/Fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:700px;
    font-family:'Roboto Condensed';
}

.eventos-ima{
    clear: both;
    color: aliceblue;
    font-size: 300%;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    top: 400px;
    left:2.27%;
    letter-spacing: 0px;
    width: 560px;
}   

.subt{
    background-color: #021138;
}

ul{
    list-style-type: none;
    width: 100%;
    padding-top: 25px;
    float:left; 
    right: 0px;
    z-index: 1;
    position: fixed;

}

ul li{
    float:left;


}

ul li.nav a{
    display: block;
    margin: 20px 2em;
    line-height: 2em;
    text-decoration: none;
    color:antiquewhite;

}

.opc{
    position: relative;
    left: 8%;
    width:90%;


}


.red-div{
    position: relative;
    left: 12%;
    width:85%;

}

.logo img{
    position: relative;
    width: 200px;
    height: auto;
    background-color:transparent;
    padding-left: 9%;

}

.logo img.ativo{
    background-color: #021138;

}


li.nav a:hover{
    background-position: right bottom ;
    border-bottom: 2px  solid white;  
}

ul li.inst-fcb{
    margin: 30px 10px;
}

ul.ativo{
    background-color: #021138;
}

.inst-fcb img{
    width: 20px;
    height:20px;

}

.yout img{
    width: 30px;
    height: 30px; 

}

ul li.yout {
    margin: 25px 10px 40px;

}

#insta{
    margin-left: 80px;

}

.mobile_menu div{
    width: 32px;
    height: 2px;
    margin: 8px;
    background:white;
    display: none;
}

/* resposividade nav-bar*/

@media screen and (max-width:1300px){
    body{
        overflow-x: hidden;
    }

    .logo img{
        width: 200px;
    }

    .red-div{
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 60%;
      
    }

    ul li{
        clear: both;
    }

    ul li.nav a{
        display: flex;
    }

    #navegação .opc
    {
        position: relative;
        width:30%;
        height:100vh; 
        background: #021138;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; 
        display: none;
        z-index: 5;
        padding-top: 5%;
        left:70%; 
    }

    #navegação.active .opc
    {
        transform: translateX(0);
        display: flex;
        position: fixed;
        top: 8%;   

    }
    
    .mobile_menu div{
        display: block;
    }

    .mobile_menu{
        cursor: pointer;
        z-index: 60;
        position: fixed;
        width: 30%;
        left: 50%;
        display: block;
        padding-left: 13%;
        padding-right: auto;
        padding-top: 35px;
        left:70%;
    }

    .mobile_menu.active{
        background-color: #021138;
        z-index: 54;
    }

    .titulo-nav{
        clear: both;
        color: aliceblue;
        font-size: 250%;
        font-weight: bold;
        font-weight: 600;
        position: relative;
        top: 60%;
        left: 60%;
        letter-spacing: -5px;
        width: 30%;
        font-family:'Roboto Condensed';
        z-index: 0;
    }
    

}

@media screen and (max-width:800px) {
    .titulo-nav{
        clear: both;
        color: aliceblue;
        font-size: 200%;
        font-weight: bold;
        font-weight: 600;
        position: relative;
        top: 50%;
        left:10%;
        letter-spacing: 0;
        width: 100%;
        font-family:'Roboto Condensed';
        z-index: 0;
    }

    .eventos-ima{
        clear: both;
        color: aliceblue;
        font-size: 250%;
        font-weight: bold;
        font-weight: 900;
        position: relative;
        top: 400px;
        left:2.27%;
        letter-spacing: 0px;
        width: 560px;
    } 
    
    #navegação.active{
        
        transform: translateX(0);
        display: flex;
        position: fixed;
        top: 10%;  
    }
}


/* eventos*/
#carrosel{
    position: relative;    
}

.galery{
    overflow-x: auto;
    background-color:#313131;
}

.container{
    display:flex;
    flex-direction:initial;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
    z-index: 1;
}

.evento {
    margin-top: 8ch;
    margin-left: 3%;
    margin-right: 3%;
    width: 300px;
    display: flex; /* Adiciona o display flex */
    flex-direction: column; /* Empilhar elementos verticalmente */
    transition: all 600ms ease-in-out; 
}

.evento_img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.info_evento {
    padding-left: 8px;
    flex-grow: 1; 
    width: 250px;
    height: 150px;
    margin-top: -50px;
    background-color: transparent;
    color: orange;
    font-size: 120%;
    font-family:PT Sans Narrow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: right;
    border-radius: 0px 0px 10px 10px;
    letter-spacing: 3px;
    font-weight: bolder;
   
}

span{
    
    background-color: inherit;
    color: #a7a1a1;
    font-size: 80%;
    text-align:start;
    letter-spacing: 1px;
}

.evento img:hover{
    background-color: #313235;
    opacity: 0.5;
}

.prev-button
{
    position: absolute;
    top:0;
    left:0;
    right: auto;
    bottom: 0;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.2;
}

.next-button{
    position: absolute;
    top:0;
    left:auto;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ns ease-in-out;

}

.galery::-webkit-scrollbar {
    display: none;
} 

.galery-wrapper{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.next-button:hover,
.prev-button:hover{
    opacity: 1;
}


@media screen and (max-width:1100px){
    .prev-button{
        display: none;
    }
    .next-button{
        display: none;
    }
    .container{
      
        display: flex;
        flex-direction: column;
        flex-direction:initial;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #313131;
     
    }

    .evento{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: 75%;
        margin-right: 5px;
        margin-top: 5ch;
     
    }

    .div_img{
        margin-top: -15px;
        
    }

    .evento_img{
        
        width: 100%; 
        height:auto;
        border-radius: 0px 0px 0px 0px;
        
        
    }

    .info_evento{
        width: 100%;
        height: auto;
        flex-grow: 1;
        margin-top: -15px;
        text-align: center;
        color: black;
        font-size: 125%;
        margin-bottom: 1%;
        border-radius: 0px 0px 0px 0px;  
        background-color: #D9D9D9;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    span{
        margin-top: 3px;
        text-align: center;
        color: orange; 
    }
}

/* rodape */
footer{
    width: 100%;
    background-color: #021138;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_b{
    width: 180px;
    height: auto;
}
.icon_local{
    width: 50px;
}
.icon_tel{
    width: 35px;
}
.icon_email{
    width: 35px;
}

footer{
    width: 100%;
    background-color: #021138;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.logo{
    width: 180px;
    height: auto;
}
.icon_local{
    width: 50px;
    height: auto;
}
.icon_tel{
    width: 35px;
    height: auto;
}
.icon_email{
    width: 35px;
    height: auto;
}


.localizacao{
    align-items: center;
    justify-content: center;
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;


}
.contato{
    align-items: center;
    justify-content: center;
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
}
.div_logo, .localizacao,.contato{
    padding: 25px;
    margin-left: 5%;
}
.titulo{
    font-size: xx-large;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight:bolder;
    line-height: normal;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

.numeros_pastores{
    text-align: right;
}

/* rodape responsivo  */
@media screen and (max-width:750px){
    footer{
        display: flex;
        flex-direction: column;
    }
    .titulo{
        padding-top: 0%;
    }
}

.cultos-i h2{
    width: 100%;
    background-color:  #D9D9D9;;
    text-align: center;
    font-family:'Montserrat';
    font-size: 36px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;

}

.cultos-section{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: bold;
    width:100%;
    height: auto;
    color: #FFF;
    letter-spacing: 1px;
    font-family:'Montserrat';
    background-color:  #D9D9D9;;
    padding-bottom: 5ch;
}

.cultos-online{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: bold;
    width:90%;
    height: auto;
    color: #FFF;
    letter-spacing: 1px;
    font-family:'Montserrat';
    background-color:  #D9D9D9;;
    margin: auto;  
}


.culto{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    margin: 3ch 2px;
}

.parte-preta{
    width: 380px;
    height: auto;
    padding-top:30px;
    padding-bottom:25px;
    background-color: black;
    margin: auto;
}

.culto_img {
    width: 380px;
    height: auto;
    margin: auto;
}

.info_culto {
    margin: auto;
    width: 380px;
    height:auto;
    margin-top: 0px;
    background-color: transparent;
    color: orange;
    font-size: 50%;
    font-family:PT Sans Narrow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: right;
    letter-spacing: 3px;   
}

.culto h5{
    color:rgb(0, 0, 0); 
    font-size: 60%;
    font-family:PT Sans Narrow;
    text-align: left;
    font-weight: none;
}

.culto_img:hover{
    background-color: #313235;
    opacity: 0.5;
}

@media screen and (max-width:1260px){

    .cultos-online{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .culto{
        margin: 0;
    }

    .cultos-i h2{
        padding: 20%  0;
    }
}

#pastores{
    width:100%;
    background-color: #D9D9D9;
    padding: 20ch 0 0 0;
    float: left;
    display: inline;
    margin-bottom: 0;
    text-align: center;
}

#pastores h2{
    color: rgb(49, 49, 49);
    margin: 5ch;
    font-size: 30px;
    font-family:'Montserrat';
}


figure{
    float: left;
   width: 270px;
   aspect-ratio: 1;
   margin-right: 7%; 
   display: grid;
   grid-template-rows:100% ;
   cursor: pointer;
   box-sizing: border-box;
   position: relative;
   bottom: 3px;
   filter: drop-shadow(0 0 20px rgb(0 0 0/50%));   
}

figure:before{
    padding-left: 2px;
    padding-top: -20px;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: top/cover;
    transform-origin: bottom;
    filter:brightness(.9);
    transition: .5s;
}



figcaption{
    grid-area: 1/1;
    width: calc(100% + 2px);
    font-size: min(32px, 5vmin);
    text-align: center;
    font-size: 20px;
    font-weight: none;
    font-family: PT Sans Narrow;
    place-self: end center;
    color:rgb(255, 255, 255);
    transform: perspective(500px) translateY(100%) rotateX(-90deg);
    backface-visibility: hidden;
    transform-origin: top;
    background: #060a14;
    transition:.5s;
    opacity: 0.8;   
    letter-spacing: 2px; 
}

figcaption span{
    font-size: 14px;
    color:orange;
}

figure:before{
    background-image:url(../imagens/IMG_2308\ \(1\).jpg);
}

figure + figure::before{
    background-image: url(../imagens/pastor_tiago.jpg);
}

img{
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: contrast(.8) brightness(.7);
    place-self: end center;
    transition: .5s;
}

figure:hover img{
    width: 130%;
    height: auto;
    filter: contrast(1);
}

figure:hover::before{
    filter: brightness(.10);
    transform: perspective(500px)rotateX(60deg);
}

figure:hover figcaption{
    transform: perspective(500px)translateY(100%)rotateX(-30deg);
}

.imag-p{
    display: inline;
    position: relative;
    left: 26%;
}

.redes{
    width: 80%;
    float: left;
    text-align: center;
}

.redes img{
    width: 20px;
    place-self: end center;
    float: left;
    margin: 3.5% 2% 2% 3%;
    position: relative;
    left: 38%;
}

.tiago{
    display: inline;
    position: relative;
    left: 20%;
}


@media screen and (max-width:1100px){

    figure{
        clear: both;

        margin-top:60px;
        margin-left: auto;
        margin-right: auto;
    }
}


.contribuir{
    text-align: center;
    background-color: orange;
    font-family:'Montserrat';
    font-size: 16px;   
}

.contribuir p{
    padding: 6%;
    height: auto;
    color: rgb(252, 252, 252);
}

.contribuir p span{
    text-align: center;
    display:block;
    margin: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #fffafa;
    letter-spacing: 2px;
}

.contribuir button a{
    text-decoration: none;
    text-align: center;
    font-family:'Montserrat';
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

.contribuir button{
    padding:15px 25px;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
}




