*{
    margin: 0;
    padding: 0;
}

/*nav-bar*/
#nav-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: bold;
    top: 0;
    left: 0;
}

.home-text{
    clear: both;
    text-align: center;
    background-color: #021138;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
}

.home-text p{
    position: relative;
}

.home-text2{
    text-align: center;
    background-color: #D9D9D9;
    font-family:'Montserrat';
    font-size: 16px;     
}

.home-text2 p{
    padding: 20%;
    height: 150px;
    color: orange;
    position: relative;
}

.home-text2 p span{
    text-align: center;
    display:block;
    margin: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
}

.home-text p{
    padding: 6%;
    height: 150px;
   
}

.fundo-nav{
    background-color: #021138;
    background-image: url(../imagens/Fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.titulo-nav{
    clear: both;
    color: aliceblue;
    font-size: 380%;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    top: 290px;
    left: 65%;
    letter-spacing: -5px;
    width: 30%;
    font-family:'Roboto Condensed';
    z-index: 0;
}

.fundo-eventos{
    background-color: #021138;
    background-image: url(../imagens/Fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:700px;
    font-family:'Roboto Condensed';
}

.eventos-ima{
    clear: both;
    color: aliceblue;
    font-size: 300%;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    top: 400px;
    left:2.27%;
    letter-spacing: 0px;
    width: 560px;
}   

@keyframes lateral{
    from{
        left: 5%;
        color: transparent;
    }
    to{
        left:2.27%; 
        color: aliceblue;
    }
}

.subt{
    background-color: #021138;
}

ul{
    list-style-type: none;
    width: 100%;
    padding-top: 25px;
    float:left; 
    right: 0px;
    z-index: 1;
    position: fixed;
}

ul li{
    float:left;
}

ul li.nav a{
    display: block;
    margin: 20px 2em;
    line-height: 2em;
    text-decoration: none;
    color:antiquewhite;

}

.opc{
    position: relative;
    left: 8%;
    width:90%;
}

.red-div{
    position: relative;
    left: 12%;
    width:85%;
}

.logo img{
    width: 200px;
    height: auto;
    background-color:transparent;
    padding-left: 9%;
}

.logo img.ativo{
    background-color: #021138;
}

li.nav a:hover{
    background-position: right bottom ;
    border-bottom: 2px  solid white;  
}

ul li.inst-fcb{
    margin: 30px 10px;
}

ul.ativo{
    background-color: #021138;
}

.inst-fcb img{
    width: 20px;
    height:20px;

}

.yout img{
    width: 30px;
    height: 30px; 

}

ul li.yout {
    margin: 25px 10px 40px;

}

#insta{
    margin-left: 80px;

}
.mobile_menu div{
    width: 32px;
    height: 2px;
    margin: 8px;
    background:white;
    display: none;
}

/* resposividade nav-bar*/
@media screen and (max-width:1300px){
    body{
        overflow-x: hidden;
    }

    .logo img{
        width: 200px;
    }

    ul.ativo{
        z-index: 60;
        box-shadow: 0 10px 30px 0 rgb(5, 5, 5); 
    }

    li.nav a:hover{
        border-bottom:none;  
    }
    
    ul .nav:hover a{ 
        color: #6e6e6e;
        cursor: pointer;
    }

    ul li.nav a{
        display: flex;
    }
    #navegação .opc
    {
        position:relative;
        width:60%; 
        height:100vh;   
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; 
        display: none;
        padding-top: 80px;
        left:40%; 
        z-index: 1;
    }

    #navegação .red-div{
        position: relative;
        display: none;
        width:60%;
        height:100vh;   
        left:40%; 
        justify-content: center;
        background-color: #021138;
        padding-top: 90vh;
    }

    ul .red-div{
        margin:0;
    }

    .red-div img{
        transform: scale(0.8);
        margin:0;
    }

    @keyframes deslizar {
        from{
            transform: scaleX(0);
            transform-origin: right;
        }
        to{
            transform: scaleX(1);
            transform-origin: right; 
        }
    }

    #navegação.active .opc,
    #navegação.active .red-div
    {
        transform: translateX(0);
        display: flex;
        position: fixed;
        top: 0%;  
        animation: deslizar 0.3s forwards;
    }
    
    .mobile_menu div{
        display: block;
    }

    .mobile_menu{
        cursor: pointer;
        z-index: 60;
        position: fixed;
        width: 30%;
        left: 50%;
        display: block;
        padding-left: 13%;
        padding-right: auto;
        padding-top: 35px;
        left:70%;
    }

    .mobile_menu.active .line1{
        transform:rotate(-45deg) translate(-8px, 8px);
        transition: all 0.5s;
    }
    .mobile_menu.active .line2{
        opacity: 0;
    }
    .mobile_menu.active .line3{
        transform:rotate(45deg) translate(-5px, -7px);
        transition: all 0.5s;
    }

    .titulo-nav{
        clear: both;
        color: aliceblue;
        font-size: 250%;
        font-weight: bold;
        font-weight: 600;
        position: relative;
        top: 60%;
        left: 60%;
        letter-spacing: -5px;
        width: 30%;
        font-family:'Roboto Condensed';
        z-index: 0;
    }
    

}

@media screen and (min-width:1500px){
    

    .opc{
        position: relative;
        left: 15%;
        font-size: 105%;
    }

    .red-div{
        left:23%;
    }
}

@media screen and (min-width:2000px){
    .opc{
        position: relative;
        left: 16%;
        font-size: 150%;
    }

    .red-div{
        left:27%;
    }
}

@media screen and (min-width:2500px){
    .opc{
        position: relative;
        left: 20%;
        font-size: 150%;
    }

    .home-text2 p{
        font-size:160%;
    }

    .home-text{
        font-size: 150%;
    }

    .contribuir p{
        font-size: 150%;
    }

    .red-div{
        left:30%;
    }

    .logo img{
        width: 300px;
    }
}

@media screen and (max-width:800px) {
    
    .titulo-nav{
        clear: both;
        color: aliceblue;
        font-size: 200%;
        font-weight: bold;
        font-weight: 600;
        position: relative;
        top: 50%;
        left:10%;
        letter-spacing: 0;
        font-family:'Roboto Condensed';
        z-index: 0;
        width: 250px;

    }

    .eventos-ima{
        clear: both;
        color: aliceblue;
        font-size: 250%;
        font-weight: bold;        
        font-weight: 900;
        position: relative;
        top: 400px;
        left:2.27%;
        letter-spacing: 0px;
        width: 270px;
    } 
    
    #navegação.active{
        
        transform: translateX(0);
        display: flex;
        position: fixed;
        
    }

    .home-text{
        font-size: 85%;
    }

}
@media screen and (max-height:450px){
    #navegação .opc{
        height:45vh;
    }

    ul .opc li{
        margin: -15px;
    }

    #navegação .red-div{
        padding-top:85vh;
    }

}

/* eventos*/
#carrosel{
    position: relative;
    display: flex;
    align-items: center;
}

.galery{
    overflow-x: auto;
    background-color:#313131;
    white-space: nowrap; 
    scroll-behavior: smooth;
}

.container{
    display:flex;
    align-items: center;
    flex-flow: row;
    gap: 15px;
    z-index: 1;
}

.evento {
    margin-top: 8ch;
    margin-left: 3%;
    margin-right: 3%;
    width: 300px;
    display: flex; 
    flex-direction: column; 
    transition: all 600ms ease-in-out; 
}

.evento_img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s;
}

.info_evento {
    padding-left: 8px;
    flex-grow: 1; 
    width: 250px;
    height: 150px;
    margin-top: -50px;
    background-color: transparent;
    color: orange;
    font-size: 120%;
    font-family:PT Sans Narrow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: right;
    border-radius: 0px 0px 10px 10px;
    letter-spacing: 3px;
    font-weight: bolder;
   
}

span{
    
    background-color: inherit;
    color: #a7a1a1;
    font-size: 80%;
    text-align:start;
    letter-spacing: 1px;
}

.evento:hover  img{
    background-color: #313235;
    opacity: 0.5;

}

.prev-button
{
    position: absolute;
    top:0;
    left:0;
    right: auto;
    bottom: 0;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.2;
}

.next-button{
    position: absolute;
    top:0;
    left:auto;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, transparent 0%, black 200%);
    opacity: 0.1;
}

.galery::-webkit-scrollbar {
    display: none;
} 

.galery-wrapper{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.next-button:hover,
.prev-button:hover{
    opacity: 1;
}


@media screen and (max-width:1100px){
    .prev-button{
        display: none;
    }
    .next-button{
        display: none;
    }
    .container{
      
        display: flex;
        flex-direction: column;
        flex-direction:initial;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #313131;
     
    }

    .evento{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: 75%;
        margin-right: 5px;
        margin-top: 5ch;
     
    }

    .div_img{
        margin-top: -15px;
        
    }

    .evento_img{
        
        width: 100%; 
        height:auto;
        border-radius: 0px 0px 0px 0px;
        
        
    }

    .info_evento{
        width: 100%;
        height: auto;
        flex-grow: 1;
        margin-top: -15px;
        text-align: center;
        color: black;
        font-size: 125%;
        margin-bottom: 1%;
        border-radius: 0px 0px 0px 0px;  
        background-color: #D9D9D9;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    span{
        margin-top: 3px;
        text-align: center;
        color: orange; 
    }
}

/* rodape */
footer{
    width: 100%;
    background-color: #021138;
    display: flex;
}




.logo_b{
    width: 180px;
    height: auto;  
}
.div_logo{
    flex-grow:2;
    margin: 7% 0;
}
.icon_local{
    width: 30px;
    height: auto;
}
.icon_tel{
    width: 15px;
    height: auto;
    margin-right:5px;
}

.icon_email{
    width: 15px;
    height: auto;
}


.localizacao{
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    flex-grow:1;
}
.contato{
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height:25px;
    flex-grow:1;
}

.numeros_pastores,
.email
{
    margin-top:5%;
    position: relative;
    left:25%;
}

.numeros_pastores p,
.email p
{
    margin-bottom:8px;

}

.endereco{
    margin-top:5%;
    position: relative;
    left:15%;
    text-align: left;
}



.titulo{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding-top: 40px;
    padding-bottom: 30px;
}

.contato .titulo{
    padding-top:35px;
}

.barra{
    position: relative;
    width:50px;
    height:2px;
    top:78px;
    right: 35%;
}

.contato .barra{
    top:78px;
    right: 32%;
}

.numeros_pastores{
    text-align: left;
}

.direitos{
    color: rgb(190, 190, 190);
    font-family:Montserrat;
    font-size: 10px;
    background-color: #313131;
    position: absolute;
    width: 100%;
    height: 40px;
    text-align: center;
    align-self: flex-end;
}

.direitos p{
    margin-top:1%;
    margin-left: 10px;
}


/* rodape responsivo  */
@media screen and (max-width:820px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        padding-top: 0%;
    }

    .titulo{
        font-size: xx-large;
        color: #FFF;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight:bolder;
        line-height: normal;
        padding-left: 30px;
        padding-bottom: 30px;


    }
    
    .numeros_pastores,
    .endereco,
    .email
    {
        position: relative;
        left: 0%;
    }

    .numeros_pastores,
    .email
    {
        text-align: right;
    }

    .icon_local{
        width: 50px;
        height: auto;
    }
    .icon_tel{
        width: 35px;
        height: auto;
    }

    .dois{
        display: none;
    }
    .icon_email{
        width: 35px;
        height: auto;
    }

    .barra{
        display: none;
    }

    .direitos{
        position: relative;
    }

    
}

@keyframes descer{
    from{
        top:60px;
    }
    to{
        top:0;
    }
}

.cultos-i{
    background-color:#D9D9D9;
}

.cultos-i h2{
    width: 100%;
    text-align: center;
    font-family:'Montserrat';
    font-size: 36px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    position: relative;
}



.cultos-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    width:100%;
    height: auto;
    color: #FFF;
    letter-spacing: 1px;
    font-family:'Montserrat';
    background-color:  #D9D9D9;;
    padding-bottom: 5ch;

}

.cultos-online{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    width:90%;
    height: auto;
    color: #FFF;
    letter-spacing: 1px;
    font-family:'Montserrat';
    background-color:  #D9D9D9;;
    margin: auto; 

}

.culto{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3ch 2px;
    text-decoration: none; 
    position: relative;

}

.culto a{
    text-decoration: none; 
    margin: auto;
}

.parte-preta{
    width: 380px;
    height: auto;
    padding-top:30px;
    padding-bottom:25px;
    background-color: black;
    overflow: hidden;
}

.culto_img {
    width: 380px;
    height: auto;
    transition: all 0.25s;
}

.culto:hover img{
    transform: scaleX(1.3) scaleY(1.2);
    opacity: 0.5;
}

.info_culto {
    margin: auto;
    width: 380px;
    height:auto;
    margin-top: 0px;
    background-color: transparent;
    color: orange;
    font-size: 50%;
    font-family:PT Sans Narrow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: right;
    letter-spacing: 3px;   
}

.culto h5{
    color:rgb(0, 0, 0); 
    font-size: 60%;
    font-family:PT Sans Narrow;
    text-align: left;
    font-weight: none;
}


@media screen and (max-width:1260px){

    .cultos-online{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: none;
    }

    .culto{
        margin: 0;
    }

    .cultos-i h2{
        padding: 20%  0;
    }

    .info_culto,
    .culto_img{
        width: 100%;
        height: auto;

    }
    
    .parte-preta{
        margin: auto;
        width: 98%;
        height: auto;
    }
}

#pastores{
    width:100%;
    background-color: #D9D9D9;
    padding: 20ch 0 0 0;
    float: left;
    display: inline;
    margin-bottom: 0;
    text-align: center;
}

#pastores h2{
    color: rgb(49, 49, 49);
    margin: 5ch;
    font-size: 30px;
    font-family:'Montserrat';
}


figure{
   width: 270px;
   aspect-ratio: 1;
   margin: 0 20px;
   display: grid;
   grid-template-rows:100% ;
   cursor: pointer;
   box-sizing: border-box;
   position: relative;
   bottom: 3px;
   filter: drop-shadow(0 0 20px rgb(0 0 0/50%));   
}

figure:before{
    padding-left: 2px;
    padding-top: -20px;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: top/cover;
    transform-origin: bottom;
    filter:brightness(.9);
    transition: .5s;
}

figcaption{
    grid-area: 1/1;
    width: calc(100% + 2px);
    font-size: min(32px, 5vmin);
    text-align: center;
    font-size: 20px;
    font-weight: none;
    font-family: PT Sans Narrow;
    place-self: end center;
    color:rgb(255, 255, 255);
    transform: perspective(500px) translateY(100%) rotateX(-90deg);
    backface-visibility: hidden;
    transform-origin: top;
    background: #060a14;
    transition:.5s;
    opacity: 0.8;   
    letter-spacing: 2px; 
}

figcaption span{
    font-size: 14px;
    color:orange;
}

figure:before{
    background-image:url(../imagens/IMG_2308\ \(1\).jpg);
}

figure + figure::before{
    background-image: url(../imagens/pastor_tiago.jpg);
}

img{
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: contrast(.8) brightness(.7);
    place-self: end center;
    transition: .5s;
}

figure:hover img{
    width: 130%;
    height: auto;
    filter: contrast(1);
}

figure:hover::before
{
    filter: brightness(.10);
    transform: perspective(500px)rotateX(60deg);
}

figure:hover figcaption
{
    transform: perspective(500px)translateY(100%)rotateX(-30deg);
}

.imag-p{
    display: flex;
    justify-content: center;
}

.redes{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 10ch;
    margin-top: 20px;
}



.redes img{
    width: 20px;
    margin: 20px;

}

.tiago{
    margin: 0 91.5px;
}

.gilvane{
    margin: 0 91.5px;
}


@media screen and (max-width:1100px){

    .imag-p{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    figure{
        margin-bottom: 10%;
    }

    .tiago{
        display: none;
    }
    
    .gilvane{
        display: none;
    }

}


.contribuir{
    text-align: center;
    background-color: rgb(32, 32, 32);
    font-family:'Montserrat';
    font-size: 16px; 
    animation-name: direita;
    animation-duration: 2s;  
}

.contribuir p{
    padding: 6%;
    height: auto;
    color: rgb(252, 252, 252);
}

.contribuir p span{
    text-align: center;
    display:block;
    margin: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #fffafa;
    letter-spacing: 2px;
}

@keyframes botao{
    from{
        bottom: 0;
    }
    to{
        bottom:20px;
    }
}

.contribuir button a{
    text-decoration: none;
    text-align: center;
    font-family:'Montserrat';
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

.contribuir button{
    position: relative;
    padding:15px 25px;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
}



.contribuir button:hover{
    box-shadow: 0px 8px 5px rgb(8, 8, 8);
    transform: translateY(-3px);
    transition: 200ms;
}





