* {
    margin: 0;
    padding: 0;
}

/*PAGINA PGS*/
.temPG {
    width: 50%;
    height: auto;
    background-color: #D9D9D9;
    margin-left: 23%;
    margin-right: 25%;
    margin-top: -60ch;
    margin-bottom: 20px;
    display: flex;
    border-radius: 50px;
}

.btPg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 21, 21);
    font-family: 'Montserrat';
    color: white;
    font-size: 16px;
    font-weight: bolder;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;
    top: 10px;
    text-align: center;
}

.btPg a {
    text-decoration: none;
    color: white;
    margin-right: 5px; /* Espaçamento entre o texto e o ícone */
}

.material-symbols-outlined {
    font-size: 20px;
}

.fundo-nav2 {

    background-image: url(../../imagens/Fundos/fotoPGS.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.interior {
    display: flex;
    flex-direction: row;
    margin: 3.5%;
}

.foto {
    width: 50%;
}

.fotosmeninas {
    width: 90%;
    height: 120px;
    max-width: 500px;
    height: auto;
    border-radius: 30px;
}


.descricao {
    width: 50%;
    height: auto;
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


.pglist {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    clear: both;
    border-collapse: collapse;
    width: 65%;
    height: auto;
    border-radius: 50px;
    background-color: rgb(221, 21, 21);
}

.pglist tr,
.pglist td {
    color: #D9D9D9;
    text-align: center;
    padding: 2%;
    font-family: 'Montserrat';
    font-weight: bolder;

}

.PGS {
    text-align: center;
    margin-left: 17%;
    margin-right: 17%;
    clear: both;
    border-collapse: collapse;
    width: 60%;
    height: auto;
    background-color: #D9D9D9;
    font-family: 'Montserrat';
}

.PGS tr,
.PGS td {
    padding: 3%;
}

@media screen and (max-width: 900px) {
    .temPG {
        width: 70%;
        height: auto;
        background-color: #D9D9D9;
        margin: -75ch auto 20px auto; 
        display: flex;
        border-radius: 50px;
    }

    .interior {
        flex-direction: column;
        width: 100%;
    }

    .foto {
        width: 90%;
        margin: 5% 10% ;
    }

    .descricao {
        width: 100%;
        margin-top: 20px;
        text-align:center;
        font-size: 14px;
    }

    .btPg {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pglist {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .PGS {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-size: 12px;
    }
}


