*{
    margin:0; 
    padding: 0; 
}

footer{
    width: 100%;
    background-color: #021138;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo{
    width: 180px;
    height: auto;
}
.icon_local{
    width: 50px;
}
.icon_tel{
    width: 35px;
}
.icon_email{
    width: 35px;
}


.localizacao{
    align-items: center;
    justify-content: center;
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;


}
.contato{
    align-items: center;
    justify-content: center;
    color: #A8A8A8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
}
.div_logo, .localizacao,.contato{
    padding: 25px;
    margin-left: 5%;
}
.titulo{
    font-size: xx-large;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight:bolder;
    line-height: normal;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

.numeros_pastores{
    text-align: right;
}

@media screen and (max-width:750px){
    footer{
        display: flex;
        flex-direction: column;
    }
    .titulo{
        padding-top: 0%;
    }
}
