@import url(../Geral/animacoes.css);

*{
    margin: 0;
    padding: 0;
}

/*eventos*/
.fundo-eventos{
    background-color: #021138;
    background-image: url(../../imagens/Fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:700px;
    font-family:'Roboto Condensed';
}

.eventos-ima{
    clear: both;
    color: aliceblue;
    font-size: 300%;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    top: 400px;
    left:2.27%;
    letter-spacing: 0px;
    width: 250px;
}   

.eventos-ima.animate{

    animation-name: lateral;
    animation-duration: 3s;

}

#carrosel{
    position: relative;
    display: flex;
    align-items: center;
}

.galery{
    overflow-x: auto;
    background-color:#313131;
    white-space: nowrap; 
    scroll-behavior: smooth;
}

.container{
    display:flex;
    align-items: center;
    flex-flow: row;
    gap: 15px;
    z-index: 1;
}

.evento {
    margin-top: 8ch;
    margin-left: 3%;
    margin-right: 3%;
    width: 300px;
    display: flex; 
    flex-direction: column; 
    transition: all 600ms ease-in-out; 
}

.evento_img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s;
}

.info_evento {
    padding-left: 8px;
    flex-grow: 1; 
    width: 250px;
    height: 150px;
    margin-top: -50px;
    background-color: transparent;
    color: orange;
    font-size: 120%;
    font-family:PT Sans Narrow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: right;
    border-radius: 0px 0px 10px 10px;
    letter-spacing: 3px;
    font-weight: bolder;
   
}

span{
    
    background-color: inherit;
    color: #a7a1a1;
    font-size: 80%;
    text-align:start;
    letter-spacing: 1px;
}

.evento:hover  img{
    background-color: #313235;
    opacity: 0.5;

}

.prev-button
{
    position: absolute;
    top:0;
    left:0;
    right: auto;
    bottom: 0;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.2;
}

.next-button{
    position: absolute;
    top:0;
    left:auto;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, transparent 0%, black 200%);
    opacity: 0.1;
}

.galery::-webkit-scrollbar {
    display: none;
} 

.galery-wrapper{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.next-button:hover,
.prev-button:hover{
    opacity: 1;
}

/*resposividade eventos*/
@media screen and (max-width:1100px){
    .prev-button{
        display: none;
    }
    .next-button{
        display: none;
    }
    .container{
      
        display: flex;
        flex-direction: column;
        flex-direction:initial;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #313131;
     
    }

    .evento{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: 75%;
        margin-right: 5px;
        margin-top: 5ch;
     
    }

    .div_img{
        margin-top: -15px;
        
    }

    .evento_img{
        
        width: 100%; 
        height:auto;
        border-radius: 0px 0px 0px 0px;
        
        
    }

    .info_evento{
        width: 100%;
        height: auto;
        flex-grow: 1;
        margin-top: -15px;
        text-align: center;
        color: black;
        font-size: 125%;
        margin-bottom: 1%;
        border-radius: 0px 0px 0px 0px;  
        background-color: #D9D9D9;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    span{
        margin-top: 3px;
        text-align: center;
        color: orange; 
    }
}
@media screen and (max-width:800px) {

    .eventos-ima{
        color: aliceblue;
        font-size: 200%;
        font-weight: bold;        
        font-weight: 900;
        position: relative;
        top: 400px;
        left:2.27%;
        letter-spacing: 0px;
        width: 270px;
    }
} 