@keyframes deslizar {
    from{
        transform: scaleX(0);
        transform-origin: right;
    }
    to{
        transform: scaleX(1);
        transform-origin: right; 
    }
}

@keyframes cor {
    from{
        color: antiquewhite;
    }
    to{
        color: black;
    }
}

@-webkit-keyframes subir{
    from{
        bottom:20px;
        opacity:0;
    }
    to{
        bottom:0px;
        opacity:1;
    }
}

@keyframes subir{
    from{
        bottom:20px;
        opacity:0;
    }
    to{
        bottom:0px;
        opacity:1;
    }
}

@keyframes aparecer{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes lateral{
    from{
        left: 5%;
        color: transparent;
    }
    to{
        left:2.27%; 
        color: aliceblue;
    }
}

@keyframes descer{
    from{
        top:20px;
        opacity:0;
    }
    to{
        top:0px;
        opacity:1;
    }
}

@keyframes lateral-e{
    from{
        right: 5%;
    }
    to{
        right:0%; 
    }
}

@keyframes lateral-d{
    from{
        left: 5%;
        opacity:0;
    }
    to{
        left:0%; 
        opacity:1;
    }
}

