#loading-screen {
    width: 100%;
    height: 100%;
    background:#021138;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

img {
    width: 50vh;
    height: auto;
    animation: spin 2s linear infinite;
}