.titulo-quem {
    clear: both;
    color: aliceblue;
    font-size: 300%;
    font-weight: bold;
    font-weight: 900;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: center;
    letter-spacing: 2px;
    width: 100%;
    font-family: 'Roboto Condensed';
    margin-top: 50vh;
}

@media screen and (min-width:2000px) {
    .titulo-quem {
        margin-top: 20vh;

    }

}


.line4 {
    width: 80px;
    height: 2px;
    background-color: orange;
    display: flex;
    align-self: center;
    margin-top: 3%;
    position: relative;
}

.titulo-quem .sub {
    top: 60vh;
    font-size: 30%;
    font-weight: none;
    color: orange;
    left: 100vh;
}

.fundo-nav3 {
    background-image: url(../../imagens/Fundos/ceia_pt.jpg);
    background-color: #313131;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}


.quem {
    display: flex;
    background-color: #313131;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.esquerda {
    display: flex;
    flex-direction: row;
    width: 30.5%;
    height: 100%;
    font-family: 'Montserrat';
    color: white;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    position: relative;
    transition: transform 1s;
}

.esquerda.active a:hover {

    color: rgb(124, 81, 0);
}


.esquerda.active span {
    transform: translateY(-100%);
}

.esquerda.active p {
    display: none;
}

.canto {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.mobile_menu2 div {
    width: 32px;
    height: 2px;
    margin: 8px;
    background: white;
    z-index: 5;
}

.mobile_menu2.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    transition: all 0.5s;
}

.mobile_menu2.active .line2 {
    opacity: 0;
}

.mobile_menu2.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    transition: all 0.5s;
}

.esquerda span {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 40px;
    height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 30px;
    margin-left: 180px;
    transition: transform 0.5s;
}

.esquerda span.encont {
    font-size: 50px;
    color: orange;
}

.esquerda span.dois {
    opacity: 0;
    position: absolute;
    bottom: -100;
    transition: transform 1s;
}

.encont {
    font-family: 'Lato';
}

.esquerda span.tres {
    opacity: 0;
    position: absolute;
    transition: transform 1s;
    padding-top: 180px;
}

.esquerda.active span.dois {
    opacity: 1;
    transform: translateY(150%);
}

.esquerda.active h1.letra2 {
    margin-top: 61px;
}

.esquerda.active h1.letra3 {
    margin-top: 121px;
}

.esquerda.active h1.letra4 {
    margin-top: 182px;
}

.esquerda.active h1 {
    font-size: 50px;
}

.palavra1 {
    word-wrap: normal;
    width: 93%;
    overflow: hidden;
    transition: width 1s;
    margin-left: 37.5px;
    margin-top: -61px;

}

.esquerda a {
    text-decoration: none;
    color: orange;
}

.palavra2 {
    word-wrap: normal;
    margin-left: 40px;
    margin-top: -61px;
    overflow: hidden;
    transition: width 2s;
    width: 93%;

}

.palavra3 {
    white-space: nowrap;
    margin-top: -61px;
    margin-left: 36px;
    overflow: hidden;
    transition: width 2s;
    width: 93%;
    height: 14%;
}

.palavra4 {
    word-wrap: normal;
    margin-top: -61px;
    margin-left: 45px;
    overflow: hidden;
    transition: width 2s;
    width: 93%;
}

.esquerda.active .palavra4,
.esquerda.active .palavra3,
.esquerda.active .palavra2,
.esquerda.active .palavra1 {
    width: 1050%;
    text-align: left;
    z-index: 5;

}

.esquerda.active .palavra3{
    width: 1080%;

}

.palavra1 {
    font-size: 50px;
}

.esquerda.active span.tres {
    opacity: 1;
    transform: translateY(-5%);
    color: orange;
}

.esquerda.active span.dois {
    display: block;
}

.esquerda p {
    display: flex;
    transform: rotate(-90deg);
    display: flex;
    align-self: flex-start;
    margin-top: 90px;
    margin-left: -40px;

}

.direita {
    float: right;
    display: flex;
    flex-direction: column;
    width: 59%;
    height: 100%;
    margin: 30px 0;
    border-left: 1px solid gray;
    transition: transform 0.5s;

}

.direita.active {
    transform: translateX(99%);
}

.direita p {
    display: flex;
    align-self: center;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    color: rgb(90, 90, 90);
    margin: 50px 220px;

}

.direita img {
    width: 200px;
    display: none;
}

@media screen and (max-width:1000px) {

    .quem {
        display: flex;
        background-color: #313131;
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .esquerda.active span {
        transform: translateY(-150%);
    }

    .esquerda {
        width: 100%;
    }

    .direita {
        width: 100%;
        border-top: 1px solid gray;
        border-left: none;
    }

    .esquerda span {
        margin-left: 80px;
    }

    .direita p {
        margin: 20px 50px;

    }

    .esquerda.active span.dois {
        display: none;
    }

    .esquerda span.tres {
        height: 70%;
    }

    .direita.active {
        transform: translateX(100%);
    }

    .esquerda.active h1 {
        font-size: 40px;

    }

    .direita.active img {
        display: flex;
        position: fixed;
        transform: translatex(-100%);
    }


    .palavra1 {
        position: relative;
        top: 13px;
        margin-left: 34px;
    }

    .palavra2 {
        margin-top: -50px;
        margin-left: 36px;


    }

    .palavra3 {
        margin-top: -50px;
        margin-left: 36px;

    }

    .palavra4 {
        margin-top: -50px;
        margin-left: 38px;

    }

    .esquerda span.tres {
        margin-left: -290px;

    }
}

.versiculo {
    background-color: #D9D9D9;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    height: auto;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    text-align: center;

}

.versiculo p {
    width: 48%;
    height: auto;
    margin: 40px 0;
    color: #313131;
}

span.bet {
    color: orange;
}

span.cit {
    font-size: 15px;
}

.line5 {
    width: 80px;
    height: 2px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.top {
    display: flex;
    align-self: flex-end;
}



.ig {
    background-color: #D9D9D9;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    height: 500px;
    color: black;
    display: flex;
    flex-direction: wrap;
    overflow-x: hidden;
}

.ig a {
    text-decoration: none;
    color: blanchedalmond;
}

.visao {
    background-color: #D9D9D9;
    background-image: url(../../imagens/Fundos/Fundo_ceia.jpg);
    background-position: center center;
    background-size: cover;
    min-width: 2.05rem;
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
    height: 100%;
    width: 100px;
  
}

.valores {
    background-color: #D9D9D9;
    background-image: url(../../imagens/Fundos/fundo_ket.jpg);
    height: 100%;
    width: 100px;
    background-position: center center;
    background-size: cover;
    min-width: 2.05rem;
    transition: all 0.3s ease-in-out;
    flex-grow: 1;

}

.missao {
    background-color: #D9D9D9;
    background-image: url(../../imagens/Fundos/bemvindo.jpg);
    height: 100%;
    width: 100px;
    background-position: center center;
    background-size: cover;
    min-width: 2.05rem;
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
}


.visao:hover{
    flex-grow: 2;
    width: 100%;
}


.missao:hover{
    
    flex-grow: 2;
    width: 100%;
}

.valores:hover{
    
    flex-grow: 2;
    width: 100%;
}

.text_ig{
    opacity: 0;
    display: none;
}

.lateral{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    background-color: transparent;
}

.vertical_text{
    height: 100%;
    width: 100px;
    position: relative;
    top: -320px;
}

.titulo_ig{
    font-size: 50px;
    color: orange;
}

.descricao_ig{
    font-size: 20px;
    font-weight: normal;
}

.visao:hover .lateral,
.missao:hover .lateral,
.valores:hover .lateral{
    display: none;
}

.missao:hover .text_ig,
.valores:hover .text_ig,
.visao:hover .text_ig{
    opacity: 1;
    width: 70%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:450px) {

    .descricao_ig{
        font-size: 12px;
    }

    .fundo-nav3{
        background-attachment: scroll; 
    }

}