

.galery{
    clear: both;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative; 
    background: linear-gradient(#021138,black);
    transform: rotate3d();
}
.galery::-webkit-scrollbar {
    display: none;
} 

.galery-wrapper{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.container{
    display:flex;
    flex-flow: column;
    height:560px;
    position: relative;
}

.principal{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    will-change: transform;
    font-size: 16px;
    font-family:'Montserrat';
    color: aliceblue;
    align-items: center;
}

.principal img{
    padding-top:100px;
    transform-style: preserve-3d;
    z-index: 60;
    max-height: 100%;
    position: sticky;
    right:20%;
}

.principal .texto{
    margin-left:150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texto h2{
    margin-bottom:10px;
    font-size:80px;
    font-family:'Cinzel';
    color: orange;

}


.texto h3{
    font-size:25px;
    font-weight: normal;
    font-family:'Dancing Script';
    margin-bottom:-10px;
    color: gray;
}

.parte2 .texto{
    align-items: flex-end;
    margin-right:40px;
}


.texto p{
    width:40%;
    font-size:14px;
    font-style: none;
    color: gray;

}

button{
    margin-top:30px;
    padding:15px 25px;
    border: 1px solid white;
    border-radius: 50px;
    margin-bottom: 40px;
    background-color: transparent;
}

button a{
    text-decoration: none;
    text-align: center;
    font-family:'Montserrat';
    font-weight: normal;
    color:orange;
    font-size: 20px;
    
}


.material-symbols-outlined {
  margin-left:20px;
  margin-top:auto;
  margin-bottom:auto;
 
}


.parte3{
    height:550px; 
}

.parte2{
    height:500px;
}

.page-indicators {
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-indicator {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.page-indicator.active {
    background-color: blue;
}

